/* debug */
* {
	color: #0f0 !important;
	outline: 1px #f00 solid !important;
	background: #000 !important;
	background-color: rgba(255, 0, 0, 0.2) !important;
}

* *               { background-color: rgba(  0, 255,   0, 0.2) !important; }
* * *             { background-color: rgba(  0,   0, 255, 0.2) !important; }
* * * *           { background-color: rgba(255,   0, 255, 0.2) !important; }
* * * * *         { background-color: rgba(  0, 255, 255, 0.2) !important; }
* * * * * *       { background-color: rgba(255, 255,   0, 0.2) !important; }
* * * * * * *     { background-color: rgba(255,   0,   0, 0.2) !important; }
* * * * * * * *   { background-color: rgba(  0, 255,   0, 0.2) !important; }
* * * * * * * * * { background-color: rgba(  0,   0, 255, 0.2) !important; }