
@import url("theme.css");
@import url("fonts.css");

/* variables */
html {
	--text-font: "Dubai", sans-serif;
}

/* general */
* {
	scroll-behavior: smooth;
	/* scrollbar-gutter: stable; */
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* font style */
body {
	font-family: var(--text-font);
	font-size: 12pt;
	hyphens: auto;
    overflow-x: hidden;
}

/* movie */
main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.movie {
    width: 50vw;
}
/* movie title */
.movie .title {
    font-family: "Dubai Medium";
    font-size: 2rem;
}
/* movie summary (poster) */
.movie .summary {
    display: flex;
    justify-content: space-evenly;
}
.movie .summary > div {
    margin: 0.5em;
}
.movie .summary .poster {
}
.movie .summary .poster img {
    width: 10em;
    border-radius: 10px;
}
/* movie details */
.movie .details {}
.movie .details .title {
    font-size: 3rem;
}
.movie .details .badges {}
.movie .details .badges ul li {
    border: 1.5px solid var(--foreground);
    border-radius: 5px;
    margin-right: 0.4rem;
    padding: 3px 4px;
    line-height: 100%;
    font-size: 70%;
}
.movie .details .metadata {}
.movie .details .badges ul,
.movie .details .metadata ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}
.movie .details .metadata ul li {
    font-size: 80%;
}
.movie .details .metadata ul li:not(:last-child)::after {
    content: "●";
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}
.movie .details .description {
    line-height: 1.2rem;
}

/* search */
#search-input:focus,
#search-input {
	padding: 0.5em;
	color: var(--foreground);
	border-radius: 5px;
	text-overflow: ellipsis;
    font-size: 1.1rem;
}
#search-input:focus {
    width: 100%;
}
#search-input {
	width: 15em;
	transition: width 0.2s ease-in-out;
}

/* debug */
* {
	/* color: #0f0 !important; */
	/* outline: 1px #f00 solid !important; */
	/* background: #000 !important;
	background-color: rgba(255, 0, 0, 0.2) !important; */
}

/* 
* *               { background-color: rgba(  0, 255,   0, 0.2) !important; }
* * *             { background-color: rgba(  0,   0, 255, 0.2) !important; }
* * * *           { background-color: rgba(255,   0, 255, 0.2) !important; }
* * * * *         { background-color: rgba(  0, 255, 255, 0.2) !important; }
* * * * * *       { background-color: rgba(255, 255,   0, 0.2) !important; }
* * * * * * *     { background-color: rgba(255,   0,   0, 0.2) !important; }
* * * * * * * *   { background-color: rgba(  0, 255,   0, 0.2) !important; }
* * * * * * * * * { background-color: rgba(  0,   0, 255, 0.2) !important; }
*/
