<div class="controls">
	<div class="row buttons">
		<div class="row left">
			<div class="fullscreen">
				<!-- <i class="fa fa-expand"></i> -->
				<!-- <i class="fa fa-compress"></i> -->
			</div>
		</div>
		<div class="row center">
			<div class="backward">
				<i class="fa fa-backward"></i>
			</div>	
			<div class="play-pause">
				<!-- <i class="fa fa-play"></i> -->
				<!-- <i class="fa fa-pause"></i> -->
			</div>	
			<div class="forward">
				<i class="fa fa-forward"></i>
			</div>	
		</div>
		<div class="row right">
			<div class="volume">
				<!-- <i class="fa fa-volume-xmark"></i> -->
				<!-- <i class="fa fa-volume"></i> -->
			</div>
		</div>
	</div>

	<div class="row progress">
		<div class="elapsed-time">
			00:00:00
		</div>
		<div class="timeline">
			<input type="range" min="0" max="0" step="1" value="0">
		</div>
		<div class="remaining-time">
			00:00:00
		</div>
	</div>
</div>