<!doctype html>
<html data-theme="{{ config.get('theme') }}" lang="de">
	<head>
		{% block head %}{% endblock %}
		<title>
			{{ title }}{% if title %} &minus; {% endif %}Filmbibliothek
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/general.css') }}">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
		<script>
			window.ageRestriction_PinHash = "{{ config.get('age-restriction', {}).get('pin', '') | str | md5 }}";
			window.ageRestriction_SessionDuration = {{ config.get('age-restriction', {}).get('session-duration', 3) | int | abs }};
		</script>
		<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
	</head>
	<body>
		<header>
			<h1>
				<a href="/">Filmbibliothek</a>
			</h1>
			{% block header %}{% endblock %}
		</header>

		<aside id="{{ asideID }}">
			{% block aside %}{% endblock %}
		</aside>

		<main id="{{ mainID }}">
			{% block main required %}{% endblock %}
		</main>

		<footer>
			{% block footer %}{% endblock %}
			designed &amp; programmed by <a href="https://github.com/FabianBartl" target="_blank">Fabian Bartl</a>
		</footer>

		{% block end_of_body %}{% endblock %}
	</body>
</html>