<!doctype html>
<html>
	<head>
		<title>Movie Library</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<script src="{{ url_for('static', filename='script.js') }}" defer></script>
		<script src="{{ url_for('static', filename='jquery-3.6.3.min.js') }}" defer></script>
	</head>
	<body>
		<main>
			{% for name, data in movies.items() %}
				<div class="movie">
					<div>
						<div class="poster"><img src="{{ data.get('poster') }}"></div>
						<div class="watch"><a href="{{ data.get('path') }}" target="_blank"><i class="fa fa-watch"></i></a></div>
					</div>
					<div>
						<div class="title">{{ name }}</div>
						<div class="badges {{ data.get('badges') }}"></div>
						<div class="metadata">
							<ul>
								<li>{{ data.get('date', '2023').split('.')[-1] }}</li>
								<li>{{ data.get('channel') }}</li>
								<li>{{ data.get('duration') }}</li>
							</ul>
						</div>
						<div class="description">{{ data.get('description') }}</div>
					</div>
				</div>
			{% endfor %}
		</main>
	</body>
</html>