{% extends 'default.html' %}

{% set asideID = 'search-bar' %}
{% set mainID = 'movie-index' %}

{% block aside %}
	<div id="searchbox">
		<input name="query" type="text" {% if url_params.query %}value="{{ url_params.query }}"{% endif %} placeholder="Filme durchsuchen ..." autofocus>
		
		<details>
			<summary>Erweiterte Filter</summary>
			<div class="row">
				<fieldset id="filter-search">
					<label class="title">Suchfilter:</label><br>
					{% set year_min_default = 1900 %}
					{% set year_max_default = 2100 %}
					<label>Von </label><input name="year_min" type="number" {% if url_params.year_min and url_params.year_min|valid_int(year_min_default) >= year_min_default %}value="{{ url_params.year_min }}"{% endif %} min="{{ year_min_default }}" max="{{ year_max_default }}" placeholder="untere Jahresgrenze">
					<label>bis </label><input name="year_max" type="number" {% if url_params.year_max and url_params.year_max|valid_int(year_max_default) <= year_max_default %}value="{{ url_params.year_max }}"{% endif %} min="{{ year_min_default }}" max="{{ year_max_default }}" placeholder="obere Jahresgrenze"><br>

					<label>Mit </label><input name="with" type="text" {% if url_params.with %}value="{{ url_params.with }}"{% endif %} placeholder="Name">
					<label>als </label>
					<select name="as">
						<option value="director" {% if url_params.as == 'director' %}selected{% endif %}>Regisseur</option>
						<option value="writer" {% if url_params.as == 'writer' %}selected{% endif %}>Drehbuchautor</option>
						<option value="studio" {% if url_params.as == 'studio' %}selected{% endif %}>Studio</option>
						<option value="genre" {% if url_params.as == 'genre' %}selected{% endif %}>Genre</option>
						<option value="main_cast" {% if url_params.as == 'main_cast' %}selected{% endif %}>Hauptbesetzung</option>
						<option value="camera" {% if url_params.as == 'camera' %}selected{% endif %}>Kamerabesetzung</option>
					</select><br>
				</fieldset>

				<fieldset id="filter-sort">
					<label class="title">Filme sortieren nach:</label><br>
					<input name="sort_reversed" type="checkbox" {% if url_params.sort_reversed %}checked{% endif %}><label>Reihenfolge umdrehen</label><br>
					<input name="sort_by" value="title" type="radio" checked><label>Titel</label><br>
					<input name="sort_by" value="year" type="radio" {% if url_params.sort_by == 'year' %}checked{% endif %}><label>Jahr</label><br>
					<input name="sort_by" value="imdb_rating" type="radio" {% if url_params.sort_by == 'imdb_rating' %}checked{% endif %}><label>IMDb Bewertung</label><br>
					<input name="sort_by" value="user_rating" type="radio" {% if url_params.sort_by == 'user_rating' %}checked{% endif %}><label>Eigener Bewertung</label><br>
				</fieldset>

				<fieldset id="filter-display">
					<label class="title">Anzeige Einstellungen:</label><br>
					<input name="hide_age_restricted_movies" type="checkbox" {% if url_params.hide_age_restricted_movies %}checked{% endif %}><label>Filme mit Altersbeschränkung ausblenden</label><br>
					<input name="hide_not_search_results" type="checkbox" {% if url_params.hide_not_search_results %}checked{% endif %}><label>Nur Suchergebnisse anzeigen</label><br>
				</fieldset>
			</div>
		</details>
	</div>
{% endblock %}

{% block main %}
	{% for movie in movies %}
		{% set movieID = movie["movieID"] %}
		{% set age_restricted = false %}
		{% if cookies.get('age_restriction_unlocked') != 'true' %}
			{% if config.get('age-restriction', {}).get('limit') %}
				{% if movie.get('age-rating')|str|first_integer(0) >= config.get('age-restriction', {}).get('limit') %}
					{% set age_restricted = true %}
				{% endif %}
			{% endif %}
		{% endif %}
		
		<div
			id="movie-{{ movieID }}"
			class="movie-overview
				{% if age_restricted %}
					not-allowed age-restricted
					{% if "hidden" in config.get("age-restricted-filters", []) %}hidden{% endif %}
				{% endif %}"
		>
			<a {% if not age_restricted %}href="/movie/{{ movieID }}/"{% endif %}>
				<img
					src="{% if movie.get('poster', '').startswith('http') %}{{ movie.get('poster') }}{% else %}/movie/{{ movieID }}/poster/{% endif %}"
					class="poster
						{% if age_restricted %}combine-filters
							{% for filter in config.get("age-restricted-filters", []) %}
								{% if filter in ["blurred", "grayed", "darkened", "inverted", "faded", "cleared"] %}
									{{ filter }}
								{% endif %}
							{% endfor %}
						{% endif %}"
					alt="movie poster for '{{ movie.get('title') }}'"
				>
			</a>
			<div class="title">
				{% if config.get('title_length', 0) != 0 %}
					{{ movie.title | truncate(config.get('title-length')) }}
				{% else %}
					{{ movie.title }}
				{% endif %}
			</div>
			{% if movie.get('year') %}
				<div class="year">
					{{ movie.get('year') }}
				</div>
			{% endif %}
		</div>
	{% endfor %}

	{% for _ in range(20) %}
		<div class="movie-overview"></div>
	{% endfor %}
{% endblock %}

{% block end_of_body %}
	<script>
		$(document).ready(function(){
			// search input field, generated html structure of movies and data source
			const search_input = $("#searchbox > input[name='query']");
			const movies_html = $("#{{ mainID }} > [id^='movie-']");
			const movies_data = {{ movies_array | safe }};

			// should run, if any sort filter changes
			function update_sort(evt, sort_by, reversed=false) {
				const movies_data_sorted = movies_data.sort(function(a, b) {
					if (sort_by.includes("rating"))
						sort_by = sort_by.replace("_", "-");
					// get sortable values
					let a_sort_by, b_sort_by;
					if (sort_by === "imdb-rating") {
						if (a[sort_by] !== undefined)
							a_sort_by = a[sort_by]["points"];
						if (b[sort_by] !== undefined)
							 b_sort_by = b[sort_by]["points"];
					} else {
						a_sort_by = a[sort_by];
						b_sort_by = b[sort_by];
					}
					// define order
					let order = 0;
					if (a_sort_by === undefined || b_sort_by === undefined)
						order = 1;
					else if (a_sort_by < b_sort_by)
						order = -1;
					else if (a_sort_by > b_sort_by)
						order = 1;
					return reversed ? order*-1 : order;
				});
				
				const movie_index = $("#{{ mainID }}");
				movie_index.html("");
				movies_data_sorted.forEach(function (movie, index) {
					const movieHTML = movies_html.get(movie["movieID"]);
					movie_index.append(movieHTML);
				});
			}
			
			// should run, if any search filter changes
			function update_search(evt) {
				searchResults(
					evt, movies_data, search_input,

					// searchable values
					function(movie) {
						const keys = ["title", "description", "age-rating", "year", "resolution", "director", "writer", "genre", "main-cast", "duration", "camera", "studio", "ratings"];
						let result = [];
						// convert key objects into an array of strings
						keys.forEach((key)=>{
							const object = movie[key];
							if (object !== null && object !== undefined) {
								// handle arrays
								if (typeof(object) === Array) {
									value = object.join("");
								}
								// handle objects
								else if (typeof(object) === Object) {
									var values = [];
									for (let key in object) {
										values.push(object[key]);
									}
									value = values.join("");
								}
								// handle integers, strings, etc.
								else {
									value = object.toString();
								}
								result.push(value);
							}
						});
						return result;
					},

					[
						{% for filter in config.get("not-result-filters", []) %}
							{% if filter in ["unclickable", "hidden", "blurred", "grayed", "darkened", "inverted", "faded", "cleared"] %}
								"{{ filter }}",
							{% else %}
								// filter '{{ filter }}' not allowed
							{% endif %}
						{% endfor %}
						"combine-filters", "not-search-result"
					]
				);
			}

			// run on typing in search field
			search_input.keyup((evt)=>{ update_search(evt); });
			search_input.keyup();

			// sort filters
			const search_sort_input = $("#filter-sort > input[name^='sort_']");
			const search_sort_by = $("#filter-sort > input[type='radio'][name='sort_by']");
			const search_sort_reversed = $("#filter-sort > input[type='checkbox'][name='sort_reversed']");

			// run on change of sort filters
			search_sort_input.click((evt)=>{
				const target = $(evt.target);
				let radio_input = target;
				// search for checked radio button, if click on 'sort_reversed' checkbox
				if (target.attr("name") === "sort_reversed") {
					search_sort_by.each(function(index, input) {
						input = $(input);
						if (input.is(":checked"))
							radio_input = input;
					});
				}
				if (radio_input.is(":checked")) {
					const sort_by = radio_input.attr("value");
					let reversed = search_sort_reversed.is(":checked");
					if (sort_by.includes("rating"))
						reversed = !reversed;
					update_sort(evt, sort_by, reversed);
				}
			});
		});
	</script>
{% endblock %}