{% extends 'default.html' %}

{% set asideID = 'search-bar' %}
{% set mainID = 'movie-index' %}

{% block aside %}
<input id="search-input" type="text" {% if search_query %}value="{{ search_query }}"{% endif %} placeholder="Filme durchsuchen ...">
	<script>
		$(document).ready(function(){
			// search input field and data source
			var search_input = $("#search-input");
			const movies_data = {{ movies_array | safe | replace('False','false') | replace('True','true') | replace('None','NaN') }};
			
			// call on typing in search field
			search_input.keyup(function(event) {
				searchResults(
					event, movies_data, search_input,

					// searchable values
					function(movie) {
						const keys = ["title", "description", "age-rating", "year", "resolution", "director", "writer", "genre", "main-cast", "duration", "camera"];
						var result = [];
						keys.forEach(function(key) {
							var value = movie[key];
							if (value !== null && value !== undefined) {
								if (typeof(value) === Array) {
									result.push(value.join(""));
								} else {
									result.push(value.toString());
								}
							}
						});
						return result;
					},

					[
						{% for filter in config.get("not-result-filters", []) %}
							{% if filter in ["unclickable", "hidden", "blurred", "grayed", "darkened", "inverted", "faded", "cleared"] %}
								"{{ filter }}",
							{% endif %}
						{% endfor %}
						"filter"
					], 1
				);
			});
			search_input.keyup();
		});
	</script>
{% endblock %}

{% block main %}
	{% for movieID, data in movies.items() %}
		<div id="movie-{{ movieID }}" class="movie-overview">
			<a href="/movie/{{ movieID }}/">
				{% if data.get('poster', '').startswith('http') %}
					<img class="poster" src="{{ data.get('poster') }}">
				{% else %}
					<img class="poster" src="/movie/{{ movieID }}/poster/">
				{% endif %}
			</a>
			<div class="title">
				{% if config.get('title_length', 0) != 0 %}
					{{ data.title | truncate(config.get('title-length')) }}
				{% else %}
					{{ data.title }}
				{% endif %}
			</div>
			{% if data.get('year') %}
				<div class="year">
					{{ data.get('year') }}
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}