{% extends 'default.html' %}

{% set title = 'Film: "' + movie.title + '"' %}
{% set mainID = 'movie-details' %}

{% block main %}
	<div class="row">
		{% if movie.get('poster', '').startswith('http') %}
			<img class="poster" src="{{ movie.get('poster') }}" alt="movie poster for '{{ movie.get('title') }}'">
		{% else %}
			<img class="poster" src="poster/" alt="movie poster for '{{ movie.get('title') }}'">
		{% endif %}
		<div class="short-details">
			<h2 class="title">
				{{ movie.get('title') }}
			</h2>
			<div class="row">
				<ul class="row with-separator">
					{% if movie.get('year') %}
						<li class="year">
							{{ movie.get('year') }}
						</li>
					{% endif %}
					<li class="duration">
						{{ movie.get('duration', {}).get('hours') }} h
						{{ movie.get('duration', {}).get('minutes') }} min
					</li>
				</ul>
				<ul class="row badges">
					{% for badge in ['age-rating', 'resolution'] %}
						{% if movie.get(badge) %}
							<li class="badge">{{ movie.get(badge) }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			{% if movie.get('ratings') %}
				<ul class="row ratings">
					{% if movie.get('ratings', {}).get('imdb') %}
						<li class="row imdb rating" title="IMDb rating">
							<img class="icon" src="{{ url_for("static", filename="images/imdb_star.svg") }}">
							<div>
								<div class="points">
									<span>
										{{ movie.get('ratings', {}).get('imdb', {}).get('points') }}
									</span>
									<span>/ 10</span>
								</div>
								<div class="votes">{{ movie.get('ratings', {}).get('imdb', {}).get('votes') }}</div>
							</div>
						</li>
					{% endif %}
				</ul>
			{% endif %}
			<ul class="row actions">
				<li>
					<a class="button" onclick="playAsFullscreen('#movie-stream > video');" href="#movie-stream">
						<i class="fa fa-play"></i>&ensp;Abspielen
					</a>
				</li>
				{% if movie.get('website') %}
					<li>
						<a class="button" href="{{ movie.get('website') }}" target="_blank">
							<i class="fa fa-globe"></i>&ensp;Webseite
						</a>
					</li>
				{% endif %}
			</ul>
			{% if movie.get('description') %}
				<div class="description">
					{{ movie.get('description') }}
				</div>
			{% endif %}
			<div class="short-credits">
				{% set credits = {'director':'REGIE', 'writer':'DREHBUCH', 'studio':'STUDIO', 'genre':'GENRE', 'main-cast':'HAUPTBESETZUNG', 'camera':'KAMERA'} %}
				{% for credit in credits %}
					{% if movie.get(credit) %}
						<div class="row">
							<div class="credit-name">
								{{ credits[credit] }}
							</div>
							<div class="credit-content">
								{% set names = movie.get(credit) %}
								{% if names is string %}
									{{ names }}
								{% else %}
									{{ ', '.join(names) }}
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="movie-stream">
		<video controls>
			<source src="stream/" type="video/mp4">
			{% for language, subtitles in movie.get('subtitles', {}).items() %}
				{% if subtitles.startswith(('http', '/localpath/')) %}
					<track src="{{ subtitles }}" kind="subtitles" srclang="{{ language }}" label="{{ language }}">
				{% else %}
					<track src="subtitles/{{ language }}/" kind="subtitles" srclang="{{ language }}" label="{{ language }}">
				{% endif %}
			{% endfor %}
		</video>
	</div>
{% endblock %}