{% extends 'default.html' %}

{% set title = 'Film: "' + movie.title + '"' %}
{% set mainID = 'movie-details' %}

{% block main %}
	<div class="row">
		{% if movie.get('poster') %}
			<img class="poster" src="{{ movie.get('poster') }}">
		{% else %}
			<img class="poster" src="{{ url_for('static', filename='images/blank-poster.jpg') }}">
		{% endif %}
		<div class="short-details">
			<h2 class="title">
				{{ movie.title }}
			</h2>
			<div class="row">
				<ul class="row">
					{% if movie.get('year') %}
						<li class="year">
							{{ movie.get('year') }}
						</li>
					{% endif %}
					<li class="duration">
						{{ movie.get('duration')[0] }} h
						{{ movie.get('duration')[1] }} min
					</li>
				</ul>
				<ul class="row badges">
					{% for badge in ['age-rating', 'resolution'] %}
						{% if movie.get(badge) %}
							<li class="badge">{{ movie.get(badge) }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<ul class="row actions">
				<li>
					<a class="button" onclick="playAsFullscreen('#movie-stream > video');">
						<i class="fa fa-play"></i>&ensp;Abspielen
					</a>
				</li>
			</ul>
			{% if movie.get('description') %}
				<div class="description">
					{{ movie.get('description') }}
				</div>
			{% endif %}
			<div class="short-credits">
				{% set credits = {'director':'REGIE', 'writer':'DREHBUCH', 'studio':'STUDIO', 'genre':'GENRE', 'main-cast':'HAUPTBESETZUNG'} %}
				{% for credit in credits %}
					{% if movie.get(credit) %}
						<div class="row">
							<div class="credit-name">
								{{ credits[credit] }}
							</div>
							<div class="credit-content">
								{% set names = movie.get(credit) %}
								{% if names is string %}
									{{ names }}
								{% else %}
									{{ ', '.join(names) }}
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="movie-stream">
		<video controls>
			<source src="stream/" type="video/mp4">
			{% for language, subtitles in movie.get('subtitles', {}).items() %}
				{% if subtitles.startswith(('http', '/localpath/')) %}
					<track src="{{ subtitles }}" kind="subtitles" srclang="{{ language }}" label="{{ language }}">
				{% else %}
					<track src="subtitles/{{ language }}/" kind="subtitles" srclang="{{ language }}" label="{{ language }}">
				{% endif %}
			{% endfor %}
		</video>
	</div>
{% endblock %}