@font-face {
	font-family: "Dubai";
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Dubai-Regular.eot");
	src: local("Dubai"), local("Dubai Regular"), local("Dubai-Regular"),
		url("../fonts/Dubai-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Dubai-Regular.woff2") format("woff2"),
		url("../fonts/Dubai-Regular.woff") format("woff"),
		url("../fonts/Dubai-Regular.ttf") format("truetype"),
		url("../fonts/Dubai-Regular.svg#Dubai-Regular") format("svg");
}