
@import url("theme.css");
@import url("fonts.css");


/* variables */
html {
	--text-font: "Dubai", sans-serif;
}

/* general */
* {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* font style */
body {
	font-family: var(--text-font);
	font-size: 12pt;
    color: var(--color-text);
	hyphens: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
}

/* spacing of content */
main {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* inline elements */
.row {
    display: flex;
}
.row > :not(:last-child) {
    margin-right: 0.5em;
}
/* as list */
ul.row {
    list-style: none;
    padding-left: 0;
}
ul.row li:not(:last-child)::after {
    content: "â—";
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

/* links */
a,
a:active,
a:focus {
    text-decoration: none;
    color: var(--color-link);
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: var(--color-highlight);
}

/* movie index */
#movie-index {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

/* movie overview (poster, title, year) */
.movie-overview {
    --movie-width: 15em;
    width: var(--movie-width);
    margin: 15px;
    line-height: 110%;
}
.movie-overview .poster {
    width: var(--movie-width);
    border-radius: 10px;
    margin-bottom: 5px;
    transition: box-shadow 0.2s ease-in-out;
}
.movie-overview .title {
    width: calc(var(--movie-width) - 2em);
    font-size: 1.2em;
    margin-bottom: 2px;
}
.movie-overview .year {
    width: var(--movie-width);
    font-size: 0.9em;
    filter: grayscale(0.9);
}
.movie-overview .poster:hover {
    box-shadow: 0 10px 30px 0 #000e;
}

/* movie streams */
video {
    width: 100%;
}

/* form */
form {
    margin-bottom: 1em;
}
/* for buttons */
.button,
button {
    font-family: var(--text-font);
    color: var(--color-link);
    background-color: var(--color-background);
    border: 2px solid var(--color-link);
    border-radius: 5px;
    padding: 2px 6px;
    cursor: pointer;
}
.button:hover,
button:hover {
    color: var(--color-highlight);
    border: 2px solid var(--color-highlight);
}

/* search */
#search-input:focus,
#search-input {
	padding: 0.5em;
	color: var(--color-text);
	border-radius: 5px;
	text-overflow: ellipsis;
    font-size: 1.1rem;
}
#search-input:focus {
    width: 100%;
}
#search-input {
	width: 20rem;
	transition: width 0.2s ease-in-out;
}

/* error page */
#error-page {
    padding: 10vh;
    padding-left: 1em;
}
#error-page > .code {
    font-size: 1.3em;
}
#error-page > .message {
    font-size: 1.1em;
}


/* style for smaller screens */
@media screen and (max-width: 1500px) {
    .movie-overview {
        --movie-width: 20em;
    }
}
