
@import url("theme.css");
@import url("fonts.css");

/* ---------------------------------------- general styling and variable ---------------------------------------- */

/* variables */
html {
    --text-font: "Dubai", sans-serif;
    --animate-all: all 0.2s ease-in-out;
}

/* everything */
* {
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* font settings */
body {
    font-family: var(--text-font);
	font-size: 12pt;
    color: var(--color-text);
	hyphens: auto;
    overflow-x: hidden;
    background-color: var(--color-background);
}

/* spacings */
body {
    width: 90%;
    margin: auto;
}
main {
    margin-top: 2em;
    margin-bottom: 2em;
}
footer {
    margin-bottom: 1em;
}

/* ---------------------------------------- design templates ---------------------------------------- */

/* inline elements */
.row {
    display: flex;
}
.row > :not(:last-child) {
    margin-right: 0.5em;
}
/* as list */
ul.row {
    list-style: none;
    padding-left: 0;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}
ul.row li:not(:last-child)::after {
    content: "â—";
    margin-left: 0.4rem;
}
ul.row:not(:last-child) {
    margin-right: 1.5em;
}

/* links */
a,
a:active,
a:focus {
    text-decoration: none;
    color: var(--color-link);
    cursor: pointer;
    transition: var(--animate-all);
}
a:hover {
    text-decoration: none;
    color: var(--color-highlight);
}

/* movie streams */
video {
    width: 100%;
}

/* buttons */
.button {
    font-weight: bold;
    color: var(--color-background);
    border-radius: 5px;
    background-color: var(--color-link);
    padding: 2px 9px;
    cursor: pointer;
    transition: var(--animate-all);
}
.button > i.fa {
    vertical-align: middle;
}
.button:hover {
    color: var(--color-background);
    background-color: var(--color-highlight);
}

/* badges */
.badges > .badge {
    font-weight: bold;
    border: 2px solid var(--color-text);
    border-radius: 5px;
    padding: 2px 7px 1px;
    font-size: 0.8em;
}
.badges > .badge:not(:last-child) {
    margin-right: 0.8em;
}
ul.row.badges li.badge:not(:last-child)::after {
    content: "";
    margin-left: 0;
}

/* ---------------------------------------- individual changes for other screen sizes ---------------------------------------- */

/* style for smaller screens */
@media screen and (max-width: 1520px) {
    .movie-overview {
        --movie-width: 20em;
    }
}

/* ---------------------------------------- special elements / pages ---------------------------------------- */

/* search */
#search-input:focus,
#search-input {
	padding: 0.5em;
	color: var(--color-text);
	border-radius: 5px;
	text-overflow: ellipsis;
    font-size: 1.1rem;
}
#search-input:focus {
    width: 100%;
}
#search-input {
	width: 20rem;
	transition: var(--animate-all);
}

/* error page */
#error-page {
    padding: 10vh;
    padding-left: 1em;
}
#error-page > .code {
    font-size: 1.3em;
}
#error-page > .message {
    font-size: 1.1em;
}

/* ---------------------------------------- main pages ---------------------------------------- */

/* movie index page */
#movie-index {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.movie-overview {
    --movie-width: 15em;
    width: var(--movie-width);
    margin: 15px;
    line-height: 110%;
}
.movie-overview .poster {
    width: var(--movie-width);
    border-radius: 10px;
    margin-bottom: 5px;
    transition: var(--animate-all);
}
.movie-overview .title {
    width: calc(var(--movie-width) - 2.5em);
    font-size: 1.2em;
    margin-bottom: 2px;
}
.movie-overview .year {
    width: var(--movie-width);
    font-size: 0.9em;
    filter: grayscale(0.9);
}
.movie-overview a > .poster:hover {
    box-shadow: 0 10px 30px 0 var(--color-blur);
}

/* movie details page */
#movie-details .poster {
    width: 30em;
    border-radius: 15px;
}
#movie-details .short-details {
    margin-left: 2em;
}

.short-details > :not(.title) {
    margin-bottom: 3em;
}
.short-details > .description {
    max-width: 100em;
}

.short-credits > :not(:first-child) {
    margin-bottom: 0.5em;
}
.short-credits .credit-name {
    font-weight: bold;
    min-width: 5em;
}

/* on page movie stream */
#movie-stream {
    margin: 3em auto;
}
