
@import url("theme.css");
@import url("fonts.css");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* ---------------------------------------- general styling and variable ---------------------------------------- */

/* variables */
:root {
	--text-font: "Dubai", "Source Sans Pro", "Open Sans", sans-serif;
	--animate-all: all 200ms ease-in-out;
	--animate-all-fast: all 100ms ease-in-out;
	--badge-border: 2px solid var(--color-text);
	/* default filter values */
	--blur-value: 0;
	--grayscale-value: 0;
	--brightness-value: 1;
	--invert-value: 0;    
}

/* everything */
* {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

/* font settings */
body {
	font-family: var(--text-font);
	font-size: 12pt;
	color: var(--color-text);
	hyphens: auto;
	
	background-color: var(--color-background);
	overflow-x: hidden;
}

/* spacings */
body {
	width: 90%;
	margin: auto;
}
main {
	margin-top: 2em;
	margin-bottom: 2em;
}
footer {
	margin-bottom: 1em;
}

/* ---------------------------------------- design templates ---------------------------------------- */

/* inline elements */
.row {
	display: flex;
	flex-direction: row;
}
.row img {
	align-self: start;
}
.row > :not(:last-child) {
	margin-right: 0.6em;
}
/* as list */
ul.row {
	list-style: none;
	padding-left: 0;
	height: fit-content;
	margin-top: auto;
	margin-bottom: auto;
}
ul.row.with-separator li:not(:last-child)::after {
	content: "â—";
}
ul.row li:not(:last-child)::after {
	margin-left: 0.4em;
}
ul.row:not(:last-child) {
	margin-right: 1.5em;
}

/* links */
a,
a:active {
	text-decoration: none;
	color: var(--color-link);
	cursor: pointer;
	transition: var(--animate-all);
}
a:hover {
	text-decoration: none;
	color: var(--color-highlight);
}

/* movie streams */
video {
	width: 100%;
}

/* buttons */
.button {
	font-weight: bold;
	color: var(--color-background);
	border-radius: 5px;
	background-color: var(--color-link);
	padding: 4px 9px;
	cursor: pointer;
	transition: var(--animate-all);
}
.button:hover {
	color: var(--color-background);
	background-color: var(--color-highlight);
}
.button.not-allowed:hover {
	background-color: var(--color-link);
}

/* badges */
.badges > .badge {
	font-weight: bold;
	border: var(--badge-border);
	border-radius: 5px;
	padding: 4px 9px;
	font-size: 0.8em;
}
.badges > .badge:not(:last-child) {
	margin-right: 0.8em;
}

/* effects  */
.unclickable {
	pointer-events: none;
	cursor: default;
}
.hidden {
	display: none;
}
.faded { opacity: 30%; }
.cleared { opacity: 0%; }

/* apply all filter values */
/* https://stackoverflow.com/questions/27421135/use-multiple-css-filters-at-the-same-time */
.combine-filters {
	filter:
		blur(var(--blur-value))
		grayscale(var(--grayscale-value))
		brightness(var(--brightness-value))
		invert(var(--invert-value));
}
/* modify filter values */
.blurred { --blur-value: 7px; }
.grayed { --grayscale-value: 1; }
.darkened { --brightness-value: 0.3; }
.inverted { --invert-value: 1; }

/* show that actions are not allowed */
.not-allowed:hover,
.not-allowed :hover,
.not-allowed,
.not-allowed * {
	cursor: not-allowed;
}

/* ---------------------------------------- special elements ---------------------------------------- */

/* search */
#search-input {
	padding: 0.5em;
	color: var(--color-text);
	background-color: var(--color-background);
	border: var(--badge-border);
	border-radius: 5px;
	text-overflow: ellipsis;
	font-size: 1em;
	width: 100%;
	transition: var(--animate-all);
}

/* custom video controls */
.video-wrapper {
	scrollbar-gutter: unset;
	position: relative;
	overflow: hidden;
}
.video-wrapper > video {
	width: 100%;
}

/* ---------------------------------------- pages and their elements ---------------------------------------- */

/* error page */
#error-page {
	padding: 10vh;
	padding-left: 1em;
}
#error-page > .code {
	font-size: 1.3em;
	padding-bottom: 0.5em;
}
#error-page > .message {
	padding-bottom: 2em;
	font-size: 1.1em;
}
#error-page > .details {
	font-size: 1em;
}

/* movie index page */
#movie-index {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: baseline;
}
#movie-index .movie-overview {
	transition: var(--animate-all);
}

/* overview with poster, title and year */
.movie-overview {
	--movie-overview-width: 15em;
	width: var(--movie-overview-width);
	margin: 10px;
	line-height: 1.1em;
}
.movie-overview .poster {
	width: var(--movie-overview-width);
	border-radius: 10px;
	margin-bottom: 2px;
	transition: var(--animate-all);
}
.movie-overview .title {
	width: calc(var(--movie-overview-width) - 2.5em);
	font-size: 1.2em;
	margin-bottom: 2px;
	letter-spacing: 0.1px;
}
.movie-overview .year {
	width: var(--movie-overview-width);
	font-size: 0.9em;
	filter: grayscale(0.9);
}
.movie-overview a > .poster:hover {
	box-shadow: 0 10px 30px 0 var(--color-shadow);
}
/* age restricted movies */
.movie-overview.not-allowed a > .poster:hover {
	box-shadow: unset;
}

/* movie details page */
#movie-details .poster {
	width: 30em;
	border-radius: 15px;
	margin-right: 2em;
}
#movie-details .details {
	max-width: 50vw;
}

/* details with title \ year, duration and badges \ ratings \ actions \ description \ and short credits */
.details > .title {
	letter-spacing: 0.5px;
}
.details > :not(.title) {
	margin-bottom: 3em;
}
/* short credits */
.short-credits > div {
	margin-bottom: 0.3em;
}
.short-credits .credit-name {
	font-weight: bold;
	hyphens: none;
	white-space: nowrap;
	min-width: 10em;
	letter-spacing: 1px;
}
/* ratings */
.ratings > .rating:not(:last-child) {
	margin-right: 2.5em;
}
/* imdb rating */
.ratings > .imdb.rating {
	line-height: 1.2em;
}
.ratings > .imdb.rating .icon {
	height: 2.3em;
	align-self: normal;
}
.ratings > .imdb.rating .points > :first-child {
	font-size: 1.3em;
	letter-spacing: 0.8px;
}
.ratings > .imdb.rating .points > :last-child,
.ratings > .imdb.rating .votes {
	letter-spacing: 0.5px;
	font-size: 0.9em;
	filter: grayscale(0.9);
}
/* user rating */
.ratings > .user.rating .icon {
	align-self: center;
	color: var(--gold);
	transition: var(--animate-all-fast);
}
.ratings > .user.rating .icon:not(:last-child) {
	margin-right: 0.3em;
}
.ratings > .user.rating .icon[data-star-action="reset"] {
	margin-left: 0.5em;
	color: var(--color-link);
	transition: var(--animate-all-fast);
}
.ratings > .user.rating .icon[data-star-action="reset"]:hover {
	color: var(--color-highlight);
}

/* on page movie stream */
#movie-stream {
	margin: 3em auto;
}

/* ---------------------------------------- individual changes for other screen sizes ---------------------------------------- */

/* style for laptops */
@media screen and (max-width: 1300px) {
	/* use more screen width */
	body {
		width: 95%;
	}

	/* ignore not-result-filters; only show results */
	.not-search-result {
		display: none;
	}

	/* slimmer poster */
	#movie-details .poster {
		width: 25em;
		margin-right: 1em;
	}
	/* tighter details and credits */
	#movie-details .details {
		max-width: unset;
	}

	.details > :not(.title) {
		margin-bottom: 1.5em;
	}	

	.short-credits > div {
		margin-bottom: 0.8em;
		display: block;
	}
	.short-credits .credit-name {
		line-height: 1.3em;
	}
	.short-credits .credit-content {
		line-height: 1em;
	}
}

/* style for tablets */
@media screen and (max-width: 850px) {
	/* slimmer poster */
	#movie-details .poster {
		width: 20em;
		margin-right: 0.5em;
	}
}
@media screen and (max-width: 650px) {
	/* coloumn design for details */
	#movie-details .poster {
		width: 95%;
		margin-right: unset;
		margin-left: 2.5%;
	}
	#movie-details > .row {
		display: block;
	}
}

/* style for smartphones */
@media screen and (max-width: 590px) {
	/* two movies per row on the movie index page */
	#movie-index .movie-overview {
		--movie-overview-width: 45vw;
		margin: 0 2px 10px 2px;
	}
	#movie-index .movie-overview .title {
		width: var(--movie-overview-width);
		font-size: 1.1em;
	}
	#movie-index .movie-overview .poster {
		border-radius: 5px;
	}
}
