
/* colors */
html {
	--blue: #003049;
	--red: #D62828;
	--orange: #F77F00;
	--yellow: #FCBF49;
	--beige: #EAE2B7;
}

/* themes */
html,
html[theme="dark"] {
	--color-background: var(--blue);
	--color-accent: var(--red);
	--color-text: var(--beige);
	--color-link: var(--orange);
	--color-highlight: var(--yellow);
}
html[theme="light"] {
	--color-background: var(--beige);
	--color-accent: var(--red);
	--color-text: var(--blue);
	--color-link: var(--orange);
	--color-highlight: var(--yellow);
}

/* debug */
html[theme="debug"] * {
	color: #0f0 !important;
	outline: 1px #f00 solid !important;
	background: #000 !important;
	background-color: rgba(255, 0, 0, 0.2) !important;
}

html[theme="debug"] * *               { background-color: rgba(  0, 255,   0, 0.2) !important; }
html[theme="debug"] * * *             { background-color: rgba(  0,   0, 255, 0.2) !important; }
html[theme="debug"] * * * *           { background-color: rgba(255,   0, 255, 0.2) !important; }
html[theme="debug"] * * * * *         { background-color: rgba(  0, 255, 255, 0.2) !important; }
html[theme="debug"] * * * * * *       { background-color: rgba(255, 255,   0, 0.2) !important; }
html[theme="debug"] * * * * * * *     { background-color: rgba(255,   0,   0, 0.2) !important; }
html[theme="debug"] * * * * * * * *   { background-color: rgba(  0, 255,   0, 0.2) !important; }
html[theme="debug"] * * * * * * * * * { background-color: rgba(  0,   0, 255, 0.2) !important; }
